/* ---------------------- */
/* --- Liste des jeux --- */
/* ---------------------- */
.gameList__item{
    font-size: 22px;
    padding: 16px;
    background-color: #5186EA;
    border-radius: 8px;
}
.gameList__item+.gameList__item{
    margin-top: 16px;
}
.gameList__link{
    font-weight: 700;
    color: white;
    text-decoration: none;
}
/* --------------------------- */
/* --- Présentation du jeu --- */
/* --------------------------- */
.gameCover{
    display: block;
    margin-bottom: 16px;
}
.gameShortDesc{
    line-height: 1.375em; /*22/16*/
    margin-bottom: 16px;
}
.btn{
    display: block;
    font-size: 22px;
    font-weight: 700;
    padding: 16px;
    background-color: #5186EA;
    border-radius: 8px;
    text-align: center;
    color:white;
    text-decoration: none;
}
.btn--secondary{
    background-color: transparent;
    color: #5186EA;
    border: 1px solid #5186EA;
    margin-top: 16px;
}
/* --------------------- */
/* --- Détail du jeu --- */
/* --------------------- */
.mainHeader{
    margin-bottom: 16px;
}
.gameDesc__title, .gameStory__title, .gallery__title, .navigation__title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}
.gameDesc, .gameStory, .gallery{
    margin-bottom: 16px;
}
/* --- Caractéristiques du jeu --- */
.gameDesc__specsList__item+
.gameDesc__specsList__item{
    margin-top: 4px;
}
.gameDesc__specsList__item__descTitle,.gameDesc__specsList__item__descText{
    display: inline;
}
.gameDesc__specsList__item__descTitle{
    font-weight: 700;
}
/* --- Histoire du jeu --- */
.gameStory__text{
    line-height: 1.375em; /*22/16*/
}
/* --- Images du jeu --- */
.gallery__item+.gallery__item{
    margin-top: 16px;
}
.gallery__item__img{
    display: block;
}
.gallery__item__imgLegend{
    font-size: 12px;
    background-color: #E6E6E6;
    padding: 8px;
    text-align: center;
}
/* --- Navigation --- */
.navigation__list__item{
    color: #5186EA;
}
.navigation__list__item+.navigation__list__item{
    margin-top: 8px;
}